*.csv
.env
__pycache__/
*.pyc
tst*.*
vegetation/profile_output.prof# pixi environments
.pixi

.life_stage.zarr/
.life_stage.zarr.sync/

.local_dev_data
logs

*.zarr
*.zarr.sync

.DS_Store
*/.DS_Store

*.gif